*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
#style-4::-webkit-scrollbar{
	width: .1px;
	background-color: #F5F5F5;
}

header{
	width: 100%;
}
header nav{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #62748a8c;
	z-index: 100;
	display: flex;
	justify-content: space-between;
}
header nav .logo{
	height: 40px;
	line-height: 40px;
}
header nav .logo a span{
	font-weight: bold;
}
header nav .logo a{
	text-decoration: none;
	padding-left: 20px;
	color: black;
}
/*-------------------*/
header nav ul{
	width: 60vw;
	line-height: 40px;
	display: flex;
	justify-content: space-around;
}
header nav ul li{
	list-style-type: none;
}
header nav ul li a{
	text-decoration: none;
	color: black;
}
header nav .icon1 {
  display: none;
  font-size:30px;
  cursor:pointer;
}
.closebtn{
	display: none;
}
header nav .topnav {
  overflow: hidden;
}

/*****************************/
header .slide{
	margin-bottom: 5%;
	position: relative;
}
header .slide img{
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain; 
}
header .slide .slide-content{
	width: 200px;
	height: 70px;
	position: absolute;
	top: 45%;
	left: 40%;
}
header .slide .slide-content p{
	font-size: 23px;
	color: white;
	color: white;
	line-height: 70px;
	text-align: center;
}
header .slide .slide-content p b{
	background-color: #37393A;
	padding: 15px;
}
/*-----------------------------------------------------------------*/
main .projects{
	width: 1100px;
	margin: auto;
}
main .projects h3{
	padding-bottom: 1%;
	color: black;
	font-size: 21px;
	padding-left: 10px;
	border-bottom: 2px solid #565252;
}
main .projects .projects-content{
	padding-top: 4%;
	padding-bottom: 4%;
}
main .projects .projects-content .block{
	margin: 10px;
	display: inline-block;
	width: 250px;
	height: 250px;
	position: relative;
}
main .projects .projects-content .block img{
	width: 260px;
	height: 250px;
}
main .projects .projects-content .block a{
	color: white;
	background-color: #000000;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
}
/*--------------------------------------------*/
main .about{
	width: 1100px;
	margin: auto;
}
main .about h3{
	padding-bottom: 1%;
	color: black;
	font-size: 21px;
	padding-left: 10px;
	border-bottom: 2px solid #403d3d;
}
main .about p{
	padding-bottom: 20px;
}
main .about .about-content .block{
	width: 250px;
	margin: 5px;
	display: inline-block;
}
main .about .about-content .block img{ 
	width: 250px;
	height: 200px;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: .5s all;
}
main .about .about-content .block img:hover{ 
	filter: grayscale(0);
}
main .about .about-content .block h2{ 
	padding: 10px 0 0 0;
	color: #1F1F1F;
}
main .about .about-content .block h4{ 
	padding: 10px 0 10px 0;
	font-size: 13px;
	color: #909090;
}
main .about .about-content .block p{ 
	margin: 0 0 15px 0;
}
main .about .about-content .block .btn{ 
	background: #F1F1F1;
	color: black;
	padding: 8px 100px;
	text-decoration: none;
}
/*------------------------*/
main .contact{
	width: 1100px;
	margin: 6% auto;
}
main .contact h3{
	padding-bottom: 1%;
	color: black;
	font-size: 21px;
	padding-left: 10px;
	border-bottom: 2px solid #403d3d;
}
main .contact p{
	padding-bottom: 20px;
}
main .contact form input[type=text]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
main .contact form input[type=submit]{
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	background-color: black;
	color: white;
}
main .contact form input[type=submit]:focus{
	outline: none;
}
main .contact form{
	padding-bottom: 2%;
}
/*--------------------------*/
/*main .contact img{
	background-repeat: no-repeat;
	width: 1100px;		
}*/
main .contact iframe{
	/*background-repeat: no-repeat;*/
	width: 1100px;
	height: 600px;	
}
/*-------------------------------------------------------------------------------------*/
footer{
	width: 100%;
	/*height: 40px;*/
	background-color: black;
	text-align: center;
}
footer p{
	color: white;
	padding: 20px;
}